# Environment variables
.env

# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# MongoDB
mongodb.yaml

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db 